/* Here is the code that create the background color */
body{
    background-color:#6db5d8;
}

/* Here is the code that stylizes the search bar */
.search_bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#9cd3f4;
    height: 35px;
    border-radius: 35px;
    padding: 5px;
}

/* Here is the code that stylizes the search button and its icon */
button{
    border: none;
    background: none;
    outline: none;
    color: #6db5d8;
    float: right;
    width: 50px;
    height: 35px;
    border-radius: 50%;
    background: #9cd3f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Here is the code that stylizes the text in the search bar */
.search_bar_text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 5%;
    color: #989898;
    font-size: 20px;
    line-height: 29px;
    width: 200px;
}

/* Here is the code that stylizes the header */
h1{
    color: #b4eeff;
    font-size: 100px;
    font-style: italic;
    text-align: center;
}