
<!-- templates/index.html -->
​
<!-- Creates a base/body for our gif search webpage so that it will 
    look a certain way when someone loads it -->
        {% extends 'base.html' %}
        {% block body %}
        <div class= "page_title"> 
            <h1>GIF Search!</h1>
        </div>
                
<!-- This code makes a search bar, in the type of Google, where users are able to 
    search for gifs, and then press on a submit button to then send their requests -->
        
        <form action="/">
            <div class="search_bar">
                <input class="search_bar_text" type="text" name="search" placeholder="Search" />
                <button type="submit" class="search_button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

<!-- This checks if there are gifs matching the parameters, if there are it returns the gifs in 
    a loop as an unordered list if not it returns an error message -->
        <div class = "display_gif">       
            {% if gifs %}
                {% for gif in gifs %}
                    <ul>
                        <li>{% include 'gif.html' %}</li>
                    </ul>    
                {% endfor %}
            {% else %}
                <h2>Whoops! Looks like there is nothing matching that search, please try again!</h2>
            {% endif %}
        </div> 
        {% endblock %}
